* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(0, 0%, 86%);
  min-height: 100vh;
}

section {
  padding: 6rem 5rem 0;
}

.flex {
  display: flex;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.f--center--left {
  align-items: center;
}

.container {
  background-color: #ffff;
  /* min-width: 70rem; */
  max-width: 84rem;
  border-radius: 2.5rem 2.5rem 20rem 2.5rem;
  margin: 1rem 5rem;
}

.inputs {
  gap: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* appearance: none; */
}

.input--container input {
  max-width: 8.64rem;
  font-size: 3.2rem;
  border-radius: 1rem;
  border: 0.1rem solid hsl(0, 0%, 86%);
  padding: 1rem 2.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.input--container {
  position: relative;
}

.input--container input:focus {
  border-color: hsl(259, 100%, 65%);
  outline: none;
}

.input--container::before {
  position: absolute;
  font-size: 1.2rem;
  color: hsl(0, 1%, 44%);
  top: -20px;
  left: 0;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.input--container:nth-child(1):before {
  content: "DAY";
}

.input--container:nth-child(2)::before {
  content: "MONTH";
}

.input--container:nth-child(3)::before {
  content: "YEAR";
}

.btn--container {
  position: relative;
  justify-content: flex-end;
}

.btn--container::before {
  content: "";
  position: absolute;
  height: 0.1rem;
  background-color: hsl(0, 0%, 86%);
  width: 100%;
  top: 50%;
  left: 0;
}

.btn {
  padding: 1.5rem;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;
}

.btn:hover {
  background-color: hsl(0, 0%, 8%);
}

.output--container {
  font-weight: 800;
  margin-bottom: 3rem;
}

.output--container div p {
  color: hsl(259, 100%, 65%);
  justify-content: center;
  align-items: center;
}

.output {
  height: 8rem;
}

.output,
.output p {
  font-size: 7rem;
  font-style: italic;
}

.output p {
  margin-right: 1rem;
}

.output::after {
  color: hsl(0, 0%, 8%);
}

.output:nth-child(1)::after {
  content: "years";
}

.output:nth-child(2)::after {
  content: "months";
}

.output:nth-child(3)::after {
  content: "days";
}

.invalid {
  visibility: hidden;
  color: hsl(0, 100%, 67%);
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

/* invalid css */
.invalid.invalid--message {
  visibility: visible;
}

.invalid--input {
  border: 0.1rem solid hsl(0, 100%, 67%) !important;
}

.input--container.invalid--container::before {
  color: hsl(0, 100%, 67%);
}
